<html>
    <head>
        <title>Form page</title>
    </head>
    <body>
        <div>
            <form action="/add/user" method="post">
                <label for="name">Name</label><br>
                <input name="name" type="text" value=""><br>

                <label for="age">Age</label><br>
                <input name="age" type="number" value=""><br>

                <label for="city">City</label><br>
                <input name="city" type="text" value=""><br>

                <label for="email">Email ID</label><br>
                <input name="email" type="url" value=""><br>

                <input type="submit" value="Submit" >
            </form>
        </div>
    </body>
</html>