<html>
    <head>
    <title>Form Page</title>
    </head>
    <body>
        <div>
            <form action="/user/add" method="post">
                <label for="name">Name</label><br/>
                <input type="text" name="name" value=""><br/>
                <label for="age">Age</label><br/>
                <input type="number" name="age" value=""><br/>
                <label for="email">Email</label><br/>
                <input type="email" name="email" value=""><br/>
                <button type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>